<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Innovator Hub</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[url('static/images/5172658.jpg')] bg-cover bg-no-repeat text-white">
    <div class="relative flex size-full min-h-screen flex-col bg-transparent group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f4] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Innovator Hub</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#fafbfc] text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Explore</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">About</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Blog</a>
            </div>
            <div class="flex gap-2">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#338ae6] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
              <span class="truncate">
                <a href="/get_started" class="list-group-item" onclick="selectOption('getstarted')">Get started</a>
                </span>
              </button>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#338ae6] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">
                <a href="/get_started" class="list-group-item" onclick="selectOption('getstarted')">Get started</a>
                </span>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl rounded-2xl items-start justify-end px-4 pb-10 @[480px]:px-10"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("../static/images/1.png");'
                >
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Build your next big thing
                    </h1>
                    <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Join a free community of 10,000+ makers, founders, and investors. Get help with product feedback, fundraising, hiring, and more.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#338ae6] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                  <span class="truncate">
                    <a href="/get_started" class="list-group-item" onclick="selectOption('getstarted')">Get started</a>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                >
                  Why join Innovator Hub?
                </h1>
                <p class="text-white text-base font-normal leading-normal max-w-[720px]">
                  Join a vibrant community of 10,000+ makers, founders, and investors. Get help with product feedback, fundraising, hiring, and more.
                </p>
              </div>
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3">
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                    style='background-image: url("https://cdn.usegalileo.ai/stability/6105078e-b8e4-419e-a434-4d88060f77f5.png");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Product feedback</p>
                    <p class="text-[#fdfdfe] text-sm font-normal leading-normal">Get feedback from a community of 10,000+ founders and makers.</p>
                  </div>
                </div>
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                    style='background-image: url("https://cdn.usegalileo.ai/stability/ebe95ee7-4ac8-47cb-8e5f-eee57d8a7665.png");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Fundraising help</p>
                    <p class="text-[#f3f4f5] text-sm font-normal leading-normal">Get intros to investors and advice on your pitch deck.</p>
                  </div>
                </div>
                <div class="flex flex-col gap-3 pb-3">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                    style='background-image: url("https://cdn.usegalileo.ai/stability/155ccf2c-f79b-4bb2-bb08-33e7560e3cd8.png");'
                  ></div>
                  <div>
                    <p class="text-white text-base font-medium leading-normal">Hiring help</p>
                    <p class="text-[#f6f8f9] text-sm font-normal leading-normal">Find early employees and get advice on building your team.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="@container">
              <div class="flex flex-col justify-end gap-6 px-4 py-10 @[480px]:gap-8 @[480px]:px-10 @[480px]:py-20">
                <div class="flex flex-col gap-2 text-center">
                  <h1
                    class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]"
                  >
                    Ready to join us?
                  </h1>
                  <p class="text-white text-base font-normal leading-normal max-w-[720px">Create an account to get started. Have questions? Check out the FAQ.</p>
                </div>
                <div class="flex flex-1 justify-center">
                  <div class="flex justify-center">
                    <button
                      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#338ae6] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow" 
                    >
                    <span class="truncate">
                    <a href="/get_started" class="list-group-item" onclick="selectOption('getstarted')">Get started</a>
                    </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
